<section>
    <div class="page-header">   
        <ul class="nav nav-tabs">
            <li><a href="#/practice-management-general" ui-sref="practice-management-general">General</a></li>
              <li><a href="#/practice-management-conditions" ui-sref="practice-management-conditions">Conditions</a></li>
            <li><a href="#/practice-management-thingswork" ui-sref="practice-management-thingswork">Things to work with</a></li>
            <li class="active"><a>Things to do </a></li>
        </ul>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-md-12">
            <div class="well white">
                <div class="form-group filled">
                    <label>Activity Space</label>
                    <select class="form-control" ng-options="datos.name for datos in vm.activitySpaces track by datos.id" ng-model="vm.practice.thingsToDo.idActivitySpace">
                        <option style="display:none" value="" data-translate="entity.select.select">Select</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Activity Name</label>
                    <input type="text" class="form-control" name="name" ng-model="vm.practice.thingsToDo.name" required>
                </div>
                <div class="form-group">
                    <label class="control-label" >Brief Description</label>
                    <textarea class="form-control" name="briefDescription" ng-model="vm.practice.thingsToDo.briefDescription"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea class="form-control" name="description" ng-model="vm.practice.thingsToDo.Description"></textarea>
                </div>
               <div class="form-group filled">
                    <label>Competency</label>
                   	<select class="form-control" ng-options="datos.id as datos.name for datos in vm.competencies" ng-model="vm.practice.thingsToDo.competency"> 
                        <option style="display:none" value="" data-translate="entity.select.select">Select</option> 
                    </select>
                </div>
                <div class="form-group filled">
                    <label>Competency Level</label>
                    <select class="form-control" ng-options="datos.id as datos.name for datos in vm.practice.thingsToDo.competency.competencyLevel" ng-model="vm.practice.thingsToDo.competencies.competencyLevel"> 
                        <option style="display:none" value="" data-translate="entity.select.select">Select</option> 
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="true">
        <div class="col-md-12">
            <div class="well white">
                <div class="table-responsive white">
                    <table class="table table-full table-full-small white">
                        <thead>
                            <tr>
                                <th>Activity Space</th>
                                <th>Activity</th>
                                <th>Brief Description</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="spaceActivity in vm.practice.thingsToDo">
                                <td>{{spaceActivity.idActivitySpace}}</td>
                                <td>{{spaceActivity.name}}</td>
                                <td>{{spaceActivity.briefDescription}}</td>
                                <td><button class="btn btn-link btn-round" ng-click="vm.deleteActivitySpace($index)"><i class="md md-delete"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="well white">
                <div>
                    <button type="button" class="btn btn-primary col-md-8 m-r-10" data-toggle="collapse" data-target="#approach" ng-click="vm.load()" >Consult Approach</button>
          			<button type="button" class="btn btn-md  btn-primary" ui-sref="practice-management-spaceActivity.approach" data-title="Create approach" bs-tooltip><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
                <div class="m-t-15 m-b-15">
                    <button type="button" class="btn btn-primary col-md-8 m-r-10" data-toggle="collapse" data-target="#action" ng-click="vm.load()">Consult Action</button>
          			<button type="button" class="btn btn-md  btn-primary" ui-sref="practice-management-spaceActivity.action" data-title="Create action" bs-tooltip><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
                <div class="m-b-15">
                    <button type="button" class="btn btn-primary col-md-8 m-r-10" data-toggle="collapse" data-target="#entrycriterio" ng-click="vm.load()">Consult Entry </button>
          			<button type="button" class="btn btn-md  btn-primary" ui-sref="practice-management-spaceActivity.entry" data-title="Create entry" bs-tooltip><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
                <div class="m-b-15">
                    <button type="button" class="btn btn-primary col-md-8 m-r-10" data-toggle="collapse" data-target="#completition" ng-click="vm.load()">Consult Completition</button>
          			<button type="button" class="btn btn-md  btn-primary" ui-sref="practice-management-spaceActivity.completition" data-title="Create completition" bs-tooltip><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary col-md-8 m-r-10" data-toggle="collapse" data-target="#resources" ng-click="vm.load()">Consult Resources</button>
          			<button type="button" class="btn btn-md  btn-primary" ui-sref="practice-management-spaceActivity.resources" data-title="Create Resource" bs-tooltip><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div> 
        </div>
        <div class="col-md-8">
            <div class="well white">
                <div id="approach" class="collapse table-responsive white">
                    <table class="table table-full table-full-small white">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="approach in vm.practice.thingsToDo.approaches">
                                <td>{{approach.name}}</td>
                                <td>{{approach.description}}</td>
                                <td><button class="btn btn-link btn-round" ng-click="vm.deleteApproach()"><i class="md md-delete"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="action" class="collapse table-responsive white">
                    <table class="table table-full table-full-small white">
                        <thead>
                            <tr>
                                <th>Action Kind</th>
                                <th>Alpha-State / Workproduct-Level of detail</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="action in vm.practice.thingsToDo.actions">
                                <td>{{action.idActionKind}}</td>
                                <td>{{action.description}}</td>
                                <td><button class="btn btn-link btn-round" ng-click="vm.deleteAction()"><i class="md md-delete"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                 <div id="entrycriterio" class="collapse table-responsive white">
                    <table class="table table-full table-full-small white">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Alpha-State / Workproduct-Level of detail / Other criterion</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entry in vm.practice.thingsToDo.entryCriterion">
                                <td>{{entry.briefDescription}}</td>
                                <td>{{entry.description}}</td>
                                <td><button class="btn btn-link btn-round" ng-click="vm.deleteEntry()"><i class="md md-delete"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="completition" class="collapse table-responsive white">
                    <table class="table table-full table-full-small white">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Alpha-State / Workproduct-Level of detail / Other criterion</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <tr ng-repeat="entry in vm.practice.thingsToDo.completitionCriterion">
                                <td>{{entry.briefDescription}}</td>
                                <td>{{entry.description}}</td>
                                <td><button class="btn btn-link btn-round" ng-click="vm.deleteCompletition()"><i class="md md-delete"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="resources" class="collapse table-responsive white">
                    <table class="table table-full table-full-small white">
                        <thead>
                            <tr>
                                <th>Content</th>
                                <th>Type</th>
                                <th>Atachment</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="resource in vm.practice.thingsToDo.resources">
                                <td>{{resource.content}}</td>
                                <td>{{resource.idTypeResource}}</td>
                                <td>File</td>
                                <td><button class="btn btn-link btn-round" ng-click="vm.deleteResource()"><i class="md md-delete"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
       
    	<div class="modal-footer  m-b-30">
        	<button type="button" class="btn btn-default m-t-10" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            		data-translate="entity.action.cancel">Cancel</span>
        	</button>
                <button class="btn btn-success" type="button" ng-click="vm.save()">
                    <span data-translate="practiceManagement.add">Add</span>
                </button>
        	<button type="submit" class="btn btn-primary m-t-10">
                    <span data-translate="entity.action.next">Next</span>
       		</button>
                
                       
                    
        </div>
    </div> 	
</section>