<section>
    <div class="page-header">   
        <ul class="nav nav-tabs">
            <li><a href="#/practice-management-general" ui-sref="practice-management-general">General</a></li>
            <li><a data-translate="practiceManagement.conditions" href="#/practice-management-conditions" ui-sref="practice-management-conditions">Conditions</a></li>
            <li class="active"><a data-translate="practiceManagement.thingsToWorkWith.title">Things to work with</a></li>
            <li><a data-translate="practiceManagement.thingsToDo.title" href="#/practice-management-spaceActivity" ui-sref="practice-management-spaceActivity">Things to do </a></li>
        </ul>
    </div>
    <div class="row m-b-40">
        <div class="col-md-12">
            <div class="well white">
                <div class="form-group">
                    <h5 class="m-b-30">
                    	<i class="fa fa-check-circle text-blue" aria-hidden="true"></i> 
                    	<span  data-translate="practiceManagement.thingsToWorkWith.instructions">
                    		Select an alpha with their subalpha and/or workproducts
                    	</span>
                    </h5>
                    <div ivh-treeview="vm.alphasTree" class="checkbox" ivh-treeview-default-selected-state="false">  
                    </div>
                </div>
                <div class="modal-footer  m-b-30">
                    <button type="button" class="btn btn-default m-t-10" ng-click="vm.clean()">
                        <span data-translate="practiceManagement.clean">Clean</span>
                    </button>
                    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary m-t-10" ng-click="vm.save()">
                        <span data-translate="entity.action.next">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

                  