<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" ng-click="$hide()">&times;</button>
              <h4 class="modal-title">Entry</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="textArea" data-translate="practiceManagement.description" class="pull-left">Description</label>
                    <textarea ui-tinymce="vm.tinymceOptions" class="form-control vertical" rows="3" id="entrydescription" ng-model="vm.description.description" required></textarea>
                </div> 
                <div class="form-group filled">
                    <label class="pull-left" >Select a Action Kind</label>
                    <select class="form-control" required>
                        <option value="" data-translate="entity.select.select">Selecciona</option>
                        <option value="">Action 1</option>
                        <option value="">Action 2</option>
                        <option value="">Action 3</option>
                        <option value="">Action 4</option>
                    </select>
                </div>
                <div class="form-group filled">
                    <label class="pull-left" >Select a Alpha</label>
                    <select class="form-control" required>
                        <option value="" data-translate="entity.select.select">Selecciona</option>
                        <option value="">Alpha 1</option>
                        <option value="">Alpha 2</option>
                        <option value="">Alpha 3</option>
                        <option value="">Alpha4</option>
                    </select>
                </div>
                 <div class="form-group filled m-l-50">
                    <label class="pull-left" >Select a Alpha State</label>
                    <select class="form-control" required>
                        <option value="" data-translate="entity.select.select">Selecciona</option>
                        <option value="">Action 1</option>
                        <option value="">Action 2</option>
                        <option value="">Action 3</option>
                        <option value="">Action 4</option>
                    </select>
                </div>
                    <div class="form-group filled">
                    <label class="pull-left" >Select a Workproduct</label>
                    <select class="form-control" required>
                        <option value="" data-translate="entity.select.select">Selecciona</option>
                        <option value="">Workproduct 1</option>
                        <option value="">Workproduct 2</option>
                        <option value="">Workproduct 3</option>
                        <option value="">Workproduct 4</option>
                    </select>
                </div>
                 <div class="form-group filled m-l-50">
                    <label class="pull-left" >Select a Level of detail</label>
                    <select class="form-control" required>
                        <option value="" data-translate="entity.select.select">Selecciona</option>
                        <option value="">Level 1</option>
                        <option value="">Level 2</option>
                        <option value="">Level 3</option>
                        <option value="">Level 4</option>
                    </select>
                </div>  
                <div class="form-group">
                    <label  class="pull-left" >Another Entry Criterion</label>
                    <input type="text" class="form-control" ng-model="model.name" required>
                </div>
             
                            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-click="$hide()">Save changes</button>
            </div>
        </div>
    </div>
</div>
