<section class="p-b-20">
    <div class="page-header">   
        <ul class="nav nav-tabs">
            <li class="active"><a>General</a></li>
            <li><a href="#/practice-management-conditions" ui-sref="practice-management-conditions">Conditions</a></li>
            <li><a href="#/practice-management-thingswork" ui-sref="practice-management-thingswork">Things to work with</a></li>
            <li><a href="#/practice-management-spaceActivity" ui-sref="practice-management-spaceActivity">Things to do </a></li>
        </ul>
    </div>
    
            </div>   
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="well white">
      			<input type="hidden" id="idUpdate" ng-model="idUpdate" />
                        <form class="form">
                          <div class="form-group input-group">
                              <label data-translate="practiceManagement.keywords">Keywords</label>
                            <input id="newKeyword" class="form-control" type="text" ng-model="vm.newKeyword">
                            <div class="input-group-btn p-l-10">
                              <button class="btn btn-success" data-translate="practiceManagement.add" ng-click="vm.addKeyword()"> Add </button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12" ng-hide="!vm.keywords.length">
                    <div>
                        <button ng-repeat="keyword in vm.keywords" class="btn btn-default m-r-20 m-b-20">
                            {{keyword.keyWord}} <i class="fa fa-times text-blue" aria-hidden="true" ng-click="vm.deleteKeyword($index)"> </i>
                        </button>
                    </div>
                </div>
                <div class="modal-footer  m-b-30">
                    <button type="button" class="btn btn-default m-t-10" ng-click="vm.limpiar()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary m-t-10" ng-click="vm.save()">
                    <span data-translate="entity.action.next">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
