@font-face {
  font-family: 'icon-sekc';
  src:  url('icon-sekc.eot?r9peqw');
  src:  url('icon-sekc.eot?r9peqw#iefix') format('embedded-opentype'),
    url('icon-sekc.ttf?r9peqw') format('truetype'),
    url('icon-sekc.woff?r9peqw') format('woff'),
    url('icon-sekc.svg?r9peqw#icon-sekc') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-sekc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "\e900";
}
.icon-alpha:before {
  content: "\e901";
}
.icon-areaofconcern:before {
  content: "\e902";
}
.icon-competency:before {
  content: "\e903";
}
.icon-kernel:before {
  content: "\e904";
}
.icon-practice:before {
  content: "\e905";
}
.icon-repo:before {
  content: "\e906";
}
.icon-spaceactivity:before {
  content: "\e907";
}
.icon-workproduct:before {
  content: "\e908";
}
