<section>
    <div class="page-header">   
        <ul class="nav nav-tabs">
            <li><a href="#/practice-management-general" ui-sref="practice-management-general">General</a></li>
            <li class="active"><a href="#">Things to work with</a></li>
            <li><a href="#/practice-management-spaceActivity" ui-sref="practice-management-spaceActivity">Things to do </a></li>
            <li><a href="#/practice-management-activity" ui-sref="practice-management-activity">Activities</a></li>
            <li><a href="#/practice-management-completition" ui-sref="practice-management-completition">Completition</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well white">
                <div class="form-group filled">
                    <label>Alpha selection</label>
                    <select class="form-control">
                        <option value="">Select</option>
                        <option value="">Alpha 1</option>
                        <option value="">Alpha 2</option>
                        <option value="">Alpha 3</option>
                        <option value="">Alpha 4</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-10  form-group">	
                        <button class="btn btn-success" type="button">
                                <span data-translate="practiceManagement.add">Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well white">
                <div class="form-group filled">
                    <label>Alpha-workproduct</label>
                    <select class="form-control">
                        <option value="">Select</option>
                        <option value="">Workproduct 1</option>
                        <option value="">Workproduct 2</option>
                        <option value="">Workproduct 3</option>
                        <option value="">Workproduct 4</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-10  form-group">	
                        <button class="btn btn-success" type="button">
                                <span data-translate="practiceManagement.add">Add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well-white">
                <div class="table-responsive white">
                    <table class="table  table-full table-full-small">
                        <thead>
                            <tr>
                              <th>Alpha</th>
                              <th>Workproduct</th>
                              <th>Edit</th>
                              <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>System</td>
                                <td>Architecture Document</td>
                                <td><button type="submit"class="btn btn-link btn-round" ><i class="md md-edit"></button></td>
                                <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td> 
                            </tr>
                            <tr>
                                <td>System</td>
                                <td>Architecture Document</td>
                                <td><button type="submit"class="btn btn-link btn-round"> <i class="md md-edit"></button></td>
                                <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td> 
                            </tr>
                             <tr>
                                <td>Requirements</td>
                                <td>Prototipe Specification</td>
                                <td><button type="submit"class="btn btn-link btn-round" ><i class="md md-edit"></button></td>
                                <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>  
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-30">
        <div class="btn-group" role="group" aria-label="Filter todo's">
          <button ng-repeat="filter in todoService.filters track by $index" class="btn btn-default filter" ng-bind="filter.title" ng-click="todoService.filter(filter.method)" ng-class="[$index == todoService.activeFilter ? 'active' : '']"></button>
        </div>     
        <div class="col-md-4">
            <div class="well white">
                <form class="form">
                    <div class="form-group input-group">
                        <label>Entries selection</label>
                        <select class="form-control">
                            <option value="">Select</option>
                            <option value="">Entries 1</option>
                            <option value="">Entries 2</option>
                            <option value="">Entries 3</option>
                            <option value="">Entries 4</option>
                        </select>
                        <div class="input-group-btn p-l-10 ">
                          <button class="btn btn-default ng-animate-disabled m-t-30">Add</button>
                        </div>
                      </div>
                </form>
                <div class="table-responsive white">
                    <table class="table table-full table-full-small white">
                        <thead>
                            <tr>
                                <th>Entries</th>
                               
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> System: Released </td>
                                <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>
                            </tr>
                            <tr>
                                <td> Requirements: Bounded </td>                             
                                <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well white">
                <form class="form">
                    <div class="form-group input-group">
                        <label>Results  selection</label>
                        <select class="form-control">
                            <option value="">Select</option>
                            <option value="">Results 1</option>
                            <option value="">Results 2</option>
                            <option value="">Results 3</option>
                            <option value="">Results 4</option>
                        </select>
                      <div class="input-group-btn p-l-10">
                        <button class="btn btn-default ng-animate-disabled m-t-30">Add</button>
                      </div>
                    </div>
                </form>
                <div class="table-responsive white">
                    <table class="table table-full table-full-small white">
                        <thead>
                            <tr>
                                <th>Results</th>
                               
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>System: Usable </td>
                                <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>
                            </tr>
                            <tr>
                                <td>Requirements: Addresed </td>
                                <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
           <div class="well white">
                <form class="form">
                    <div class="form-group input-group">
                        <label>Measures</label>
                      <input id="todo-title" class="form-control" type="text" ng-model="todoService.todo.title">
                      <div class="input-group-btn p-l-10">
                        <button class="btn btn-default ng-animate-disabled m-t-30">Add</button>
                      </div>
                    </div>
                </form>
                <div class="table-responsive white">
                    <table class="table table-full table-full-small white">
                        <thead>
                            <tr>
                                <th>Measures</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Timing </td>
                                <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>
                            </tr>
                            <tr>
                                <td>Five minutes pear meeting</td>
                                <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>                     
        </div>
    </div>
    <div class="modal-footer  m-b-30">
        <button type="button" class="btn btn-default m-t-10" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary m-t-10">
        <span data-translate="entity.action.next">Next</span>
        </button>
    </div>
</section>