<section class="p-b-20">
    <div class="page-header">   
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">General</a></li>
            <li><a href="#/practice-management-thingswork" ui-sref="practice-management-thingswork">Things to work with</a></li>
            <li><a href="#/practice-management-spaceActivity" ui-sref="practice-management-spaceActivity">Things to do </a></li>
            <li><a href="#/practice-management-activity" ui-sref="practice-management-activity">Activities</a></li>
        </ul>
    </div>
    <div class="row m-b-40">
        <div class="col-md-5 col-md-push-7">
            <div class="row">
                <div class="col-md-12">
                    <div class="well white">
                        <form class="form">
                          <div class="form-group input-group">
                            <input id="todo-title" class="form-control" type="text" ng-model="todoService.todo.title">
                            <div class="input-group-btn p-l-10">
                              <button class="btn btn-default ng-animate-disabled" ng-click="todoService.saveTodo()"> ADD </button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12 filters">
                  <div class="btn-group" role="group" aria-label="Filter todo's">
                    <button ng-repeat="filter in todoService.filters track by $index" class="btn btn-default filter" ng-bind="filter.title" ng-click="todoService.filter(filter.method)" ng-class="[$index == todoService.activeFilter ? 'active' : '']"></button>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="well white">
                        <div class="table-responsive white">
                            <table class="table table-striped table-full table-full-small">
                                <thead>
                                    <tr>
                                        <th>Keywords</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> words </td>
                                        <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td> sbout </td>
                                        <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                                    </tr>
                                    <tr>
                                        <td> practices </td>
                                        <td><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                                        <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                     </div>
                </div>
                <div class="col-md-12 text-right">
                  <button class="btn btn-info" >Next</button>
                   <button class="btn btn-info" >Cancel</button>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-md-pull-5">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group filled">
                                    <label>Select a Kernel</label>
                                    <select class="form-control">
                                        <option value="">Selecciona</option>
                                        <option value="">Kernel 1</option>
                                        <option value="">Kernel 2</option>
                                        <option value="">Kernel 3</option>
                                        <option value="">Kernel 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >Name</label>
                                    <input type="text" class="form-control" ng-model="model.name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="textArea" >Brief Description</label>
                                    <textarea class="form-control vertical" rows="3" id="textArea" required></textarea>
                                </div>    
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="textArea">Description</label>
                                    <textarea class="form-control vertical" rows="3" id="textArea" required></textarea>
                                </div>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="textArea" >Consistency Rules</label>
                                    <textarea class="form-control vertical" rows="3" id="textArea" required></textarea>
                                </div>    
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="textArea" >Objective</label>
                                    <textarea class="form-control vertical" rows="2" id="textArea" required></textarea>
                                </div>  
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
