<section>
    <div class="page-header">   
        <ul class="nav nav-tabs">
            <li><a href="#/practice-management-general" ui-sref="practice-management-general">General</a></li>
            <li><a href="#/practice-management-thingswork" ui-sref="practice-management-thingswork">Things to work with</a></li>
            <li><a href="#/practice-management-spaceActivity" ui-sref="practice-management-spaceActivity">Things to do </a></li>
            <li><a href="#/practice-management-activity" ui-sref="practice-management-activity">Activities</a></li>
            <li class="active"><a href="#">Completion</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well white">
               <div class="form-group filled">
                    <label>Alpha completion criteria</label>
                    <select class="form-control">
                        <option value="">Select Alpha</option>
                        <option value="">Alpha 1</option>
                        <option value="">Alpha 2</option>
                        <option value="">Alpha 3</option>
                        <option value="">Alpha 4</option>
                    </select>
                </div>
                <div class="form-group filled">
                    <label>Alpha state</label>
                    <select class="form-control" ng-options="datos as datos.name for datos in vm.states track by datos.id" ng-model="state">
                    	<option style="display:none" value="">Select Alpa State</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-10 form-group">	
                        <button class="btn btn-success" type="button"><span data-translate="practiceManagement.add">Add</span></button>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="well-white">
                            <div class="table-responsive white">
                                <table class="table  table-full table-full-small">
                                    <thead>
                                        <tr>
                                          <th>Alpha</th>
                                          <th>State</th>
                                          <th>Edit</th>
                                          <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>System</td>
                                            <td>Architecture Document</td>
                                            <td><button type="submit"class="btn btn-link btn-round" ><i class="md md-edit"></button></td>
                                            <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td> 
                                        </tr>
                                        <tr>
                                            <td>System</td>
                                            <td>Architecture Document</td>
                                            <td><button type="submit"class="btn btn-link btn-round"> <i class="md md-edit"></button></td>
                                            <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td> 
                                        </tr>
                                         <tr>
                                            <td>Requirements</td>
                                            <td>Prototipe Specification</td>
                                            <td><button type="submit"class="btn btn-link btn-round" ><i class="md md-edit"></button></td>
                                            <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>  
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="col-md-6">
           <div class="well white">
                <div class="form-group filled">
                    <label>Work Product Completion Criteria</label>
                    <select class="form-control">
                        <option value="">Select Workproduct</option>
                        <option value="">Alpha 1</option>
                        <option value="">Alpha 2</option>
                        <option value="">Alpha 3</option>
                        <option value="">Alpha 4</option>
                    </select>
                </div>
                <div class="form-group filled">
                    <label>Workprodut level of detail</label>
                    <select class="form-control">
                        <option value="">Select level of detail</option>
                        <option value="">Alpha 1</option>
                        <option value="">Alpha 2</option>
                        <option value="">Alpha 3</option>
                        <option value="">Alpha 4</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-10 form-group">	
                        <button class="btn btn-success" type="button"><span data-translate="practiceManagement.add">Add</span></button>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        <div class="well-white">
                            <div class="table-responsive white">
                                <table class="table  table-full table-full-small">
                                    <thead>
                                        <tr>
                                          <th>Workproduct</th>
                                          <th>Level of Detail</th>
                                          <th>Edit</th>
                                          <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>System</td>
                                            <td>Architecture Document</td>
                                            <td><button type="submit"class="btn btn-link btn-round" ><i class="md md-edit"></button></td>
                                            <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td> 
                                        </tr>
                                        <tr>
                                            <td>System</td>
                                            <td>Architecture Document</td>
                                            <td><button type="submit"class="btn btn-link btn-round"> <i class="md md-edit"></button></td>
                                            <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td> 
                                        </tr>
                                         <tr>
                                            <td>Requirements</td>
                                            <td>Prototipe Specification</td>
                                            <td><button type="submit"class="btn btn-link btn-round" ><i class="md md-edit"></button></td>
                                            <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>  
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>     
            </div> 
        </div>
    </div>
    <div class="modal-footer  m-b-30">
        <button type="button" class="btn btn-default m-t-10" data-dismiss="modal" ng-click="vm.clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary m-t-10">
        <span data-translate="entity.action.save">Next</span>
        </button>
    </div>
</section>