<section class="p-b-20">
    <div class="page-header">
        <h1><i class="md md-done-all"></i>Things to work with</h1>
        <p class="lead">Initial configuration of the practice</p>
    </div>
    <div class="row m-b-40">
        <div class="col-md-12">
            <div class="well white">
                <div class="form-group filled">
                    <label>Select a Kernel</label>
                    <select class="form-control">
                        <option value="">Selecciona</option>
                        <option value="">Kernel 1</option>
                        <option value="">Kernel 2</option>
                        <option value="">Kernel 3</option>
                        <option value="">Kernel 4</option>
                    </select>
                </div>
            </div>
        </div>  
    </div>
    <div class="col-md-4">
       <div class="row">
                    <div class="col-md-12">
                        <div class="well white">
                            <form class="form">
                              <div class="form-group input-group">
                                <input id="todo-title" class="form-control" type="text" ng-model="todoService.todo.title">
                                <div class="input-group-btn p-l-10">
                                  <button class="btn btn-default ng-animate-disabled" ng-click="todoService.saveTodo()"> ADD </button>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12 filters">
                      <div class="btn-group" role="group" aria-label="Filter todo's">
                        <button ng-repeat="filter in todoService.filters track by $index" class="btn btn-default filter" ng-bind="filter.title" ng-click="todoService.filter(filter.method)" ng-class="[$index == todoService.activeFilter ? 'active' : '']"></button>
                      </div>
                    </div>
                                <div class="col-md-12">
                                    <div class="well white">
                                        <ul class="list-unstyled" >
                                          <li>
                                            <div class="checkbox">
                                              <span class="pull-right">
                                                <button type="button" class="btn btn-round btn-flat btn-default" >
                                                  <i class="md md-edit"></i>
                                                </button>
                                              </span>
                                              <label >
                                                <input  type="checkbox" /> words
                                              </label>
                                            </div>
                                          </li>
                                           <li>
                                            <div class="checkbox">
                                              <span class="pull-right">
                                                <button type="button" class="btn btn-round btn-flat btn-default" >
                                                  <i class="md md-edit"></i>
                                                </button>
                                              </span>
                                              <label >
                                                <input  type="checkbox" /> about
                                              </label>
                                            </div>
                                          </li>
                                           <li>
                                            <div class="checkbox">
                                              <span class="pull-right">
                                                <button type="button" class="btn btn-round btn-flat btn-default" >
                                                  <i class="md md-edit"></i>
                                                </button>
                                              </span>
                                              <label >
                                                <input  type="checkbox" /> practices
                                              </label>
                                            </div>
                                          </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                  <button class="btn btn-info" >Next</button>
                                   <button class="btn btn-info" >Cancel</button>
                                </div>
                             </div> 
    </div>
      <div class="col-md-4">
        <div class="row">
                    <div class="col-md-12">
                        <div class="well white">
                            <form class="form">
                              <div class="form-group input-group">
                                <input id="todo-title" class="form-control" type="text" ng-model="todoService.todo.title">
                                <div class="input-group-btn p-l-10">
                                  <button class="btn btn-default ng-animate-disabled" ng-click="todoService.saveTodo()"> ADD </button>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12 filters">
                      <div class="btn-group" role="group" aria-label="Filter todo's">
                        <button ng-repeat="filter in todoService.filters track by $index" class="btn btn-default filter" ng-bind="filter.title" ng-click="todoService.filter(filter.method)" ng-class="[$index == todoService.activeFilter ? 'active' : '']"></button>
                      </div>
                    </div>
                                <div class="col-md-12">
                                    <div class="well white">
                                        <ul class="list-unstyled" >
                                          <li>
                                            <div class="checkbox">
                                              <span class="pull-right">
                                                <button type="button" class="btn btn-round btn-flat btn-default" >
                                                  <i class="md md-edit"></i>
                                                </button>
                                              </span>
                                              <label >
                                                <input  type="checkbox" /> words
                                              </label>
                                            </div>
                                          </li>
                                           <li>
                                            <div class="checkbox">
                                              <span class="pull-right">
                                                <button type="button" class="btn btn-round btn-flat btn-default" >
                                                  <i class="md md-edit"></i>
                                                </button>
                                              </span>
                                              <label >
                                                <input  type="checkbox" /> about
                                              </label>
                                            </div>
                                          </li>
                                           <li>
                                            <div class="checkbox">
                                              <span class="pull-right">
                                                <button type="button" class="btn btn-round btn-flat btn-default" >
                                                  <i class="md md-edit"></i>
                                                </button>
                                              </span>
                                              <label >
                                                <input  type="checkbox" /> practices
                                              </label>
                                            </div>
                                          </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                  <button class="btn btn-info" >Next</button>
                                   <button class="btn btn-info" >Cancel</button>
                                </div>
                             </div>
    </div>
      <div class="col-md-4">
        <div class="row">
                    <div class="col-md-12">
                        <div class="well white">
                            <form class="form">
                              <div class="form-group input-group">
                                <input id="todo-title" class="form-control" type="text" ng-model="todoService.todo.title">
                                <div class="input-group-btn p-l-10">
                                  <button class="btn btn-default ng-animate-disabled" ng-click="todoService.saveTodo()"> ADD </button>
                                </div>
                              </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12 filters">
                      <div class="btn-group" role="group" aria-label="Filter todo's">
                        <button ng-repeat="filter in todoService.filters track by $index" class="btn btn-default filter" ng-bind="filter.title" ng-click="todoService.filter(filter.method)" ng-class="[$index == todoService.activeFilter ? 'active' : '']"></button>
                      </div>
                    </div>
                                <div class="col-md-12">
                                    <div class="well white">
                                        <ul class="list-unstyled" >
                                          <li>
                                            <div class="checkbox">
                                              <span class="pull-right">
                                                <button type="button" class="btn btn-round btn-flat btn-default" >
                                                  <i class="md md-edit"></i>
                                                </button>
                                              </span>
                                              <label >
                                                <input  type="checkbox" /> words
                                              </label>
                                            </div>
                                          </li>
                                           <li>
                                            <div class="checkbox">
                                              <span class="pull-right">
                                                <button type="button" class="btn btn-round btn-flat btn-default" >
                                                  <i class="md md-edit"></i>
                                                </button>
                                              </span>
                                              <label >
                                                <input  type="checkbox" /> about
                                              </label>
                                            </div>
                                          </li>
                                           <li>
                                            <div class="checkbox">
                                              <span class="pull-right">
                                                <button type="button" class="btn btn-round btn-flat btn-default" >
                                                  <i class="md md-edit"></i>
                                                </button>
                                              </span>
                                              <label >
                                                <input  type="checkbox" /> practices
                                              </label>
                                            </div>
                                          </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                  <button class="btn btn-info" >Next</button>
                                   <button class="btn btn-info" >Cancel</button>
                                </div>
                             </div>
    </div>
</section>
