<section class="p-b-20">
    <div class="page-header">   
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">General</a></li>
            <li><a href="#/practice-management-thingswork" ui-sref="practice-management-thingswork">Things to work with</a></li>
            <li><a href="#/practice-management-spaceActivity" ui-sref="practice-management-spaceActivity">Things to do </a></li>
            <li><a href="#/practice-management-activity" ui-sref="practice-management-activity">Activities</a></li>
            <li><a href="#/practice-management-completition" ui-sref="practice-management-completition">Completition</a></li>
        </ul>
    </div>
    <div class="row m-b-40">
        <div class="col-md-12">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <div class="col-md-12">
                            <div class="form-group filled">
                                <label>Select a Kernel</label>
                                <select class="form-control">
                                    <option value="">Selecciona</option>
                                    <option value="">Kernel 1</option>
                                    <option value="">Kernel 2</option>
                                    <option value="">Kernel 3</option>
                                    <option value="">Kernel 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label >Name</label>
                                <input type="text" class="form-control" ng-model="model.name" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textArea" >Brief Description</label>
                                <textarea class="form-control vertical" rows="3" id="textArea" required></textarea>
                            </div>    
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textArea">Description</label>
                                <textarea class="form-control vertical" rows="3" id="textArea" required></textarea>
                            </div>  
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textArea" >Consistency Rules</label>
                                <textarea class="form-control vertical" rows="3" id="textArea" required></textarea>
                            </div>    
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textArea" >Objective</label>
                                <textarea class="form-control vertical" rows="3" id="textArea" required></textarea>
                            </div>  
                        </div>
                    </fieldset>
                </form>
            </div>   
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="well white">
                        <form class="form">
                          <div class="form-group input-group">
                              <label>Keywords</label>
                            <input id="todo-title" class="form-control" type="text" ng-model="todoService.todo.title">
                            <div class="input-group-btn p-l-10">
                              <button class="btn btn-default ng-animate-disabled" ng-click="todoService.saveTodo()"> ADD </button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12 filters">
                  <div class="btn-group" role="group" aria-label="Filter todo's">
                    <button ng-repeat="filter in todoService.filters track by $index" class="btn btn-default filter" ng-bind="filter.title" ng-click="todoService.filter(filter.method)" ng-class="[$index == todoService.activeFilter ? 'active' : '']"></button>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="well white">
                        <div class="table-responsive white">
                            <table class="table table-full table-full-small white">
                                <thead>
                                    <tr>
                                        <th>Keywords</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> words </td>
                                        <td><button type="submit"class="btn btn-link btn-round" ><i class="md md-edit"></button></td>
                                        <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td> sbout </td>
                                        <td><button type="submit"class="btn btn-link btn-round" ><i class="md md-edit"></button></td>
                                        <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td> practices </td>
                                        <td><button type="submit"class="btn btn-link btn-round" ><i class="md md-edit"></button></td>
                                        <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>
                                    </tr>
                                     <tr>
                                        <td> practices </td>
                                        <td><button type="submit"class="btn btn-link btn-round" ><i class="md md-edit"></button></td>
                                        <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>
                                    </tr>
                                     <tr>
                                        <td> practices </td>
                                        <td><button type="submit"class="btn btn-link btn-round" ><i class="md md-edit"></button></td>
                                        <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>
                                    </tr>
                                     <tr>
                                        <td> practices </td>
                                        <td><button type="submit"class="btn btn-link btn-round" ><i class="md md-edit"></button></td>
                                        <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>
                                    </tr>
                                     <tr>
                                        <td> practices </td>
                                        <td><button type="submit"class="btn btn-link btn-round" ><i class="md md-edit"></button></td>
                                        <td><button type="submit" class="btn btn-link btn-round"><i class="md md-delete"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                     </div>
                </div>
                <div class="modal-footer  m-b-30">
                    <button type="button" class="btn btn-default m-t-10" data-dismiss="modal" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            data-translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary m-t-10">
                    <span data-translate="entity.action.next">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
