<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-body">
          <section class="p-b-20">
    <div class="row">
        <div class="col-md-3">
            <div class="well white">
                <div class="m-b-20">
                    <div ng-repeat="alpha in vm.alphas track by alpha.id">
                        <button class="btn btn-primary btn-block m-b-15" 
                                data-target="#detalle" ng-click="vm.fillAlpha(alpha)">{{alpha.name}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9" ng-show="vm.alphaActual">
            <div class="well white">
                <div id="detalle">
                    <div class="row">
                        <div class="col-md-12 ">
                            <form class="form-floating placeholder-form">
                                <fieldset>
                                        <h2 class="f40">
                                            <i class="icon-alpha"></i> {{vm.alphaActual.name}}
                                        </h2>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 m-t-20">
                            <form class="form-floating placeholder-form">
                                <fieldset>
                                    <h5>States</h5>
                                    <div ng-repeat="state in vm.alphaActual.states track by state.id" class="m-b-15">
                                        <div class="alpha-border text-center">
                                                <a data-animation="am-fade-and-slide-top"
                                                    ng-click="vm.fillState(state)"
                                                    data-toggle="modal" 
                                                    data-target="#states">{{state.name}}</a>
                                        </div>
                                        <div class="text-center" ng-show="!$last">
                                                <i class="fa fa-arrow-down fa fa-3x text-blue" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="col-md-8 m-t-20">
                            <form class="form-floating placeholder-form">
                                <fieldset>
                                    <h5>Description</h5>
                                    <p>{{vm.alphaActual.description}}</p>
                                </fieldset>
                            </form>
                        </div>
                        <div class="col-md-8">
                            <form class="form-floating placeholder-form">
                                <fieldset>
                                    <h5>Brief Description</h5>
                                    <p>{{vm.alphaActual.briefDescription}}</p>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>
