<section class="p-b-20">
	<div class="row">
		<div class="col-md-2">
			<div class="well white">
				<div class="m-b-20">
					<div ng-repeat="alpha in vm.alphas track by alpha.id">
					<p>
						<button class="btn btn-primary btn-block" 
							data-target="#detalle" ng-click="vm.fillAlpha(alpha)">{{alpha.name}}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-10" ng-show="vm.alphaActual">
			<div class="well white">
				<div id="detalle">
					<div class="row">
						<div class="col-md-12">
							<form class="form-floating placeholder-form">
								<fieldset>
									<h3>
										<i class="icon-alpha text-blue"></i> {{vm.alphaActual.name}}
									</h3>

								</fieldset>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<form class="form-floating placeholder-form">
								<fieldset>
									<h5>States</h5>
									<div ng-repeat="state in vm.alphaActual.states track by state.id">
										<div class="alpha-border text-center">
											<a data-animation="am-fade-and-slide-top"
												data-template-url="app/practice-management/practice-consult/practice-consult-alpha-state.html"
												bs-modal="modal">{{state.name}}</a>
										</div>
										<div class="text-center" ng-show="!$last">
											<i class="fa fa-arrow-down fa fa-3x text-blue" aria-hidden="true"></i>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
						<div class="col-md-8">

							<form class="form-floating placeholder-form">
								<fieldset>
									<h5>Description</h5>
									<p>{{vm.alphaActual.description}}</p>
								</fieldset>
							</form>

						</div>
						<div class="col-md-8">

							<form class="form-floating placeholder-form">
								<fieldset>
									<h5>Overview</h5>
									<h6>
										<strong>Contains</strong>
									</h6>
									<p>Es un hecho establecido hace demasiado tiempo que un
										lector se distraerá con el contenido del texto .</p>
									<h6>
										<strong>Described by</strong>
									</h6>
									<p>Es un hecho establecido hace demasiado tiempo que un
										lector se distraerá con el.</p>
									<h6>
										<strong>Related to</strong>
									</h6>
									<p>Es un hecho establecido hace demasiado tiempo que un
										lector se distraerá con el ecido hace demasiado tiempo que un
										lector.</p>
								</fieldset>
							</form>

						</div>
					</div>
					<div class="row">
						<div class="col-md-4">

							<form class="form-floating placeholder-form">
								<fieldset>
									<h5>Progressed by</h5>
									<li><a>Support the Team :: Hold a Retrospective</a></li>
									<li><a>Card Resources</a></li>
									<li><a>Card Resources</a></li>
								</fieldset>
							</form>

						</div>
						<div class="col-md-8">

							<form class="form-floating placeholder-form">
								<fieldset>
									<h5>Resources</h5>
									<li><a>Card Resources</a></li>
									<li><a>Card Resources</a></li>
									<li><a>Product Owership</a></li>
								</fieldset>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>