<section class="p-b-20">
    <div class="row">
        <div class="col-md-12">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h2><i class="fa fa-tag text-blue"></i> {{$stateParams.idPractice}} {{vm.practice.name}}</h2>
                      
                    </fieldset>
                </form>
            </div>   
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5><span data-translate="practiceManagement.description">Description</span></h5>
                        <p>
                        	<p>{{vm.practice.briefDescription}}</p>
                        	<a ng-click="mostrar=true"><span data-translate="practiceManagement.viewMore">View more</span></a>
                        	<p ng-show="mostrar" ng-bind-html="vm.practice.description"></p>
                        </p>
                    </fieldset>
                </form>
            </div>   
        </div>
        <div class="col-md-4">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5><span data-translate="practiceManagement.objective">Objective</span></h5>
                        <p>{{vm.practice.objective}}</p>
                    </fieldset>
                </form>
            </div> 
        </div> 
        <div class="col-md-4">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5><span data-translate="practiceManagement.consistencyRules">Consistency Rules</span></h5>
                        <p>{{vm.practice.consistencyRules}}</p>
                    </fieldset>
                </form>
            </div> 
        </div> 
        <div class="col-md-4">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5><span data-translate="practiceManagement.relatedPractices">Related Practices</span></h5>
                        <div ng-repeat="relatedPractice in vm.practice.relatedPractices">
	                        <ul>
	                            <li>
	                            	<a ui-sref="practice-consult-general({idPractice:relatedPractice.id})">
	                            		{{relatedPractice.name}}
	                            	</a>
	                            </li>
	                        </ul>
                        </div>
                        <h5><span data-translate="practiceManagement.keywords">Keywords</span></h5>
                        <ul class="list-inline">
						  <li ng-repeat="keyword in vm.practice.keyWords"
						   	class="label keyWord{{$index % 6}}">{{keyword}}</li>
						</ul>
                    </fieldset>
                </form>
            </div> 
        </div> 
    </div> 
    <div class="row">
        <div class="col-md-4">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5><span data-translate="practiceManagement.entries">Entries</span></h5>
                        <p>
                        <div ng-repeat-start="alphaState in vm.practice.entries">
                             <ul>
                                 <li ng-repeat="alphaOrWorkproduct in alphaState.alphaStates">
                                     {{alphaOrWorkproduct.alpha}} / {{alphaOrWorkproduct.state}}
                                 </li>
                             </ul>
                             <ul>
                                 <li ng-repeat="alphaOrWorkproduct in alphaState.workProductsLevelofDetail">
                                     {{alphaOrWorkproduct.workProduct}} / {{alphaOrWorkproduct.levelOfDetail}}
                                 </li>
                             </ul>
                             <ul>
                                 <li ng-repeat="alphaOrWorkproduct in alphaState.otherConditions">
                                     {{alphaOrWorkproduct}}
                                 </li>
                             </ul>
                         </div>
                         <div ng-repeat-end />
					    
                        </p>
                    </fieldset>
                </form>
            </div> 
        </div> 
        <div class="col-md-4">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5><span data-translate="practiceManagement.results">Results</span></h5>
                        <p>
                        	<div ng-repeat-start="alphaState in vm.practice.results">
                             <ul>
                                 <li ng-repeat="alphaOrWorkproduct in alphaState.alphaStates">
                                     {{alphaOrWorkproduct.alpha}} / {{alphaOrWorkproduct.state}}
                                 </li>
                             </ul>
                             <ul>
                                 <li ng-repeat="alphaOrWorkproduct in alphaState.workProductsLevelofDetail">
                                     {{alphaOrWorkproduct.workProduct}} / {{alphaOrWorkproduct.levelOfDetail}}
                                 </li>
                             </ul>
                             <ul>
                                 <li ng-repeat="alphaOrWorkproduct in alphaState.otherConditions">
                                     {{alphaOrWorkproduct}}
                                 </li>
                             </ul>
                         </div>
                         <div ng-repeat-end />
                        </p>
                    </fieldset>
                </form>
            </div> 
        </div> 
        <div class="col-md-4">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5><span data-translate="practiceManagement.measures">Measures</span></h5>
                        <ul ng-repeat="measure in vm.practice.measures">
                            <li><a>{{measure}}</a></li>
                        </ul>
                    </fieldset>
                </form>
            </div> 
        </div> 
    </div> 
</section>