<section class="p-b-20" ng-show="vm.id">
    <div class="row">
        <div class="col-xs-12">
            <div class="well white consult-borde">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h2 class="text-may"><i class="icon-practice f25 text-blue"></i> {{$stateParams.idPractice}} {{vm.practice.name}}</h2>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="well white consult-borde m-b-50">
        <div class="row">
            <div class="col-xs-12">

                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5><span data-translate="practiceManagement.description">Description</span></h5>
                        <p>
                        <p>{{vm.practice.briefDescription}}</p>
                        <a ng-click="mostrar=true"><span data-translate="practiceManagement.viewMore">View more</span></a>
                        <p ng-show="mostrar" ng-bind-html="vm.practice.description"></p>
                        </p>
                        <h5><span data-translate="practiceManagement.objective">Objective</span></h5>
                        <p>{{vm.practice.objective}}</p>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5><span data-translate="practiceManagement.entries">Entries</span></h5>
                        <p>
                            <ul class="lista-SinEspacio">
                                <li ng-repeat="alphastate in vm.practice.conditions.entries.alphaStates">
                                    {{alphastate.description}}
                                </li>
                                <li ng-repeat="workproduct in vm.practice.conditions.entries.workProductsLevelofDetail">
                                    {{workproduct.description}}
                                </li>
                                <li ng-repeat="other in vm.practice.conditions.entries.otherConditions">
                                    {{other}}
                                </li>
                            </ul>
                        </p>
                    </fieldset>
                </form>
            </div>
            <div class="col-xs-6">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5><span data-translate="practiceManagement.results">Results</span></h5>
                        <p>
                            <ul class="lista-SinEspacio">
                                <li ng-repeat="alphastate in vm.practice.conditions.results.alphaStates">
                                    {{alphastate.description}}
                                </li>
                                <li ng-repeat="workproduct in vm.practice.conditions.results.workProductsLevelofDetail">
                                    {{workproduct.description}}
                                </li>
                                <li ng-repeat="other in vm.practice.conditions.results.otherConditions">
                                    {{other}}
                                </li>
                            </ul>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5><span data-translate="practiceManagement.measure">Measures</span></h5>
                <p>
                    <div ng-repeat="measure in vm.practice.conditions.measures">
                        <ul class="lista-SinEspacio">
                            <li>
                                {{measure}}
                            </li>
                        </ul>
                    </div>
                </p>
            </div>
        </div>
        <div class="row" ng-show="vm.practice.relatedPracticesName.length">
            <div class="col-xs-12">
                <h5><span data-translate="practiceManagement.relatedPractices">Related practices</span></h5>
                <p>
                    <div ng-repeat="related in vm.practice.relatedPracticesName">
                        <ul class="lista-SinEspacio">
                            <li>
                                <a ui-sref="practice-consult-general({idPractice:related.id})">
                                    {{related.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </p>
            </div>
        </div>
        <div ng-repeat="activity in vm.practice.thingsToDo.activities" class="well white">
            <div class="row">
                <div class="col-xs-12">
                    <h5 class="text-may"><span class="icon-activity f15 f-weight text-blue"></span> {{activity.name}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <h5 data-translate="practiceManagement.entries"> Entries </h5>
                    <ul class="lista-SinEspacio">
                        <li ng-repeat="entry in activity.entryCriterion.alphaStates">
                            {{entry.description}}
                        </li>
                        <li ng-repeat="workproduct in activity.entryCriterion.workProductsLevelofDetail">
                            {{workproduct.description}}
                        </li>
                        <li ng-repeat="other in activity.entryCriterion.otherConditions">
                            {{other}}
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <h5 data-translate="practiceManagement.thingsToDo.completition"> Completition </h5>
                    <ul class="lista-SinEspacio">
                        <li ng-repeat="entry in activity.completitionCriterion.alphaStates">
                            {{entry.description}}
                        </li>
                        <li ng-repeat="workproduct in activity.completitionCriterion.workProductsLevelofDetail">
                            {{workproduct.description}}
                        </li>
                        <li ng-repeat="other in activity.completitionCriterion.otherConditions">
                            {{other}}
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <h5 data-translate="practiceManagement.thingsToDo.competencies"> Competencies </h5>
                    <ul class="lista-SinEspacio">
                        <li ng-repeat="competency in activity.competencies">
                            {{competency.competency}} - {{competency.competencyLevel}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <h5 data-translate="practiceManagement.thingsToDo.action"> Action </h5>
                    <div ng-repeat="action in activity.actions">
                        <span class="label blue f10">{{action.idActionKind}}</span>
                        <ul class="lista-SinEspacio">
                            <li ng-repeat="entry in action.alphaStates">
                                {{entry.description}}
                            </li>
                            <li ng-repeat="workproduct in action.workProductsLevelofDetail">
                                {{workproduct.description}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6" ng-show="activity.approaches.length">
                    <h5 data-translate="practiceManagement.thingsToDo.approach"> Approach </h5>
                    <ul class="lista-SinEspacio" ng-repeat="approach in activity.approaches">
                        <li>
                            <div>{{approach.name}}</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5" ng-show="activity.resources.length">
                    <h5 data-translate="practiceManagement.thingsToDo.resources"> Resources </h5>
                    <ul ng-repeat="resource in activity.resources">
                        <li>
                            <div>{{resource.idTypeResource}}</div>
                            <div ng-if="resource.idTypeResource != 'URL'" class="link-res">
                                <a ng-click="vm.downloadFile(resource.fileType, resource)">
                                    {{resource.fileName}}
                                </a>
                            </div>
                            <div ng-if="resource.idTypeResource == 'URL'" class="link-res">
                                <a href="{{resource.fileName}}" target="_blank">
                                    {{resource.fileName}}
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-xs-12" ng-show="vm.practice.keywords.length">
                <h5><span data-translate="practiceManagement.keywords">Keywords</span></h5>
                <p>
                    <span ng-repeat="keyword in vm.practice.keywords"
                          class="label color{{$index % 3}} f12">{{keyword}}</span>
                </p>
            </div>
        </div>
    </div>
</section>