<section class="p-b-20">
    <div class="row">
        <div class="col-md-12">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h3><i class="fa fa-tag text-blue"></i> Practice Name: "{{vm.practice.name}}"</h3>
                      
                    </fieldset>
                </form>
            </div>   
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5>Description</h5>
                        <p><p ng-bind-html="vm.practice.description"></p></p>
                    </fieldset>
                </form>
            </div>   
        </div>
        <div class="col-md-4">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5>Objective</h5>
                        <p>{{vm.practice.objective}}</p>
                    </fieldset>
                </form>
            </div> 
        </div> 
        <div class="col-md-4">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5>Consistency Rules</h5>
                        <p>{{vm.practice.consistencyRules}}</p>
                    </fieldset>
                </form>
            </div> 
        </div> 
        <div class="col-md-4">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5>Related Practices</h5>
                        <ul>
                            <li><a>N/A</a></li>
                        </ul>
                        <h5>Keywords</h5>
                        <span ng-repeat="keyword in vm.practice.keyWords" ng-class-even="'label indigo lebel'" ng-class-odd="'label green label'">
	                       {{keyword}}
						</span>
                    </fieldset>
                </form>
            </div> 
        </div> 
    </div> 
    <div class="row">
        <div class="col-md-4">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5>Entries</h5>
                        <p>
                        <div ng-repeat-start="alphaState in vm.practice.entries">
                             <ul>
                                 <li ng-repeat="alphaOrWorkproduct in alphaState.alphaStates">
                                     {{alphaOrWorkproduct.alpha}}/{{alphaOrWorkproduct.state}}
                                 </li>
                             </ul>
                             <ul>
                                 <li ng-repeat="alphaOrWorkproduct in alphaState.workProductsLevelofDetail">
                                     {{alphaOrWorkproduct.workProduct}}/{{alphaOrWorkproduct.levelOfDetail}}
                                 </li>
                             </ul>
                             <ul>
                                 <li ng-repeat="alphaOrWorkproduct in alphaState.otherConditions">
                                     {{alphaOrWorkproduct}}
                                 </li>
                             </ul>
                         </div>
                         <div ng-repeat-end />
					    
                        </p>
                    </fieldset>
                </form>
            </div> 
        </div> 
        <div class="col-md-4">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5>Results</h5>
                        <p>
                        	<div ng-repeat-start="alphaState in vm.practice.results">
                             <ul>
                                 <li ng-repeat="alphaOrWorkproduct in alphaState.alphaStates">
                                     {{alphaOrWorkproduct.alpha}}/{{alphaOrWorkproduct.state}}
                                 </li>
                             </ul>
                             <ul>
                                 <li ng-repeat="alphaOrWorkproduct in alphaState.workProductsLevelofDetail">
                                     {{alphaOrWorkproduct.workProduct}}/{{alphaOrWorkproduct.levelOfDetail}}
                                 </li>
                             </ul>
                             <ul>
                                 <li ng-repeat="alphaOrWorkproduct in alphaState.otherConditions">
                                     {{alphaOrWorkproduct}}
                                 </li>
                             </ul>
                         </div>
                         <div ng-repeat-end />
                        </p>
                    </fieldset>
                </form>
            </div> 
        </div> 
        <div class="col-md-4">
            <div class="well white">
                <form class="form-floating placeholder-form">
                    <fieldset>
                        <h5>Measures</h5>
                        <ul ng-repeat="measure in vm.practice.measures">
                            <li><a>{{measure}}</a></li>
                        </ul>
                    </fieldset>
                </form>
            </div> 
        </div> 
    </div> 
</section>