<aside class="sidebar fixed" ng-switch="vm.isAuthenticated()">
    <div class="brand-logo">
        <img class="logo-img m-t-20 m-b-20" src="content/images/13.1.3.png" alt="logo" style="height: 100px; width: 100px;"/>
    </div>
    <div class="user-logged-in">
        <div class="content">
            <div class="user-name" translate-values="{username: '{{vm.account.login}}'}">{{vm.account.login}} <span class="text-muted f9"></span></div>
            <div class="user-email">{{vm.account.email}}</div>
            <div class="user-actions">
                <a class="m-l-20" ng-click="vm.login()" id="login" ng-hide="vm.isAuthenticated()">
                    <span data-translate="global.menu.account.login"  aria-hidden="true">
                        <span ng-switch-when="false"> Sign in</span>
                    </span>
                </a>
                <a class="m-l-10" ui-sref="register" ng-hide="vm.isAuthenticated()">
                    <span data-translate="global.menu.account.register"  aria-hidden="true">
                        <span ng-switch-when="false">Register</span>
                    </span>
                </a>
                <a  ng-click="vm.logout()" id="logout" ng-show="vm.isAuthenticated()">
                    <span data-translate="global.menu.account.logout">
                        <span ng-switch-when="true"> Sign out</span>
                    </span>
                </a>
                <a class="m-l-10" ui-sref="settings"  name="Settings" ng-show="vm.isAuthenticated()">
                    <span data-translate="global.menu.account.settings" >
                       <span ng-switch-when="true"> Settings</span>
                   </span>
                </a>
            </div>
        </div>
    </div>
    <ul class="menu-links" ng-cloak>
        <a menu-link href="#/home" icon="md md-blur-on" >
            <span data-translate="global.menu.home"> Home</span>
        </a>
        <li menu-toggle id="entity-menu" ng-hide="true" name="Entities" icon="md md-assignment-ind" ng-class="{active: vm.$state.includes('entity')}"></li>
        <li menu-toggle id="admin-menu" name="Administration" icon="md  md-account-balance" ng-class="{active: vm.$state.includes('admin')}"  has-authority="ROLE_ADMIN" >
            <a menu-link href="#/user management" ui-sref="user-management" ng-click="vm.collapseNavbar()">
                <span data-translate="global.menu.admin.userManagement">User management</span>
            </a>
            <a menu-link href="#/metrics" ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                <span data-translate="global.menu.admin.metrics">Metrics</span>
            </a>
            <a menu-link href="#/health" ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                <span data-translate="global.menu.admin.health">Health</span>
            </a>
            <a menu-link href="#/configuration" ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                <span data-translate="global.menu.admin.configuration">Configuration</span>
            </a>
            <a menu-link href="#/audits" ui-sref="audits" ng-click="vm.collapseNavbar()">
                <span data-translate="global.menu.admin.audits">Audits</span>
            </a>
            <a menu-link href="#/logs" ui-sref="logs" ng-click="vm.collapseNavbar()">
                <span data-translate="global.menu.admin.logs">Logs</span>
            </a>
            <a menu-link href="#/API" ui-sref="docs" ng-click="vm.collapseNavbar()" ng-show="vm.swaggerEnabled">
                <span data-translate="global.menu.admin.apidocs">API</span>
            </a>
        </li>
        <li menu-toggle id="admin-menu" name="Consult Kernel" icon="icon-kernel" ng-class="{active: vm.$state.includes('admin')}" has-authority="ROLE_ADMIN" >
            <a menu-link href="#/practice-management-general" ui-sref="practice-management-general" ng-click="vm.collapseNavbar()">
                <a menu-link href="#/consult-kernel-alphas" ui-sref="consult-kernel-alphas" ng-click="vm.collapseNavbar()">
                    <span><i class="m-l-20 icon-alpha text-blue"></i>Alphas</span>
                </a>
                <a menu-link href="#/consult-kernel-workproducts" ui-sref="consult-kernel-workproducts" ng-click="vm.collapseNavbar()">
                    <span><i class="m-l-20 icon-workproduct text-blue"></i>Workproducts</span>
                </a>
                <a menu-link href="#/consult-kernel-competency" ui-sref="consult-kernel-competency" ng-click="vm.collapseNavbar()">
                    <span><i class="m-l-20 icon-competency text-blue"></i>Competencies</span>
                </a>
                <a menu-link href="#/consult-kernel-activitySpace" ui-sref="consult-kernel-activitySpace" ng-click="vm.collapseNavbar()">
                    <span><i class="m-l-20 icon-spaceactivity text-blue"></i>Activity Spaces</span>
                </a>
                <a menu-link href="#/consult-kernel-areaOfConcern" ui-sref="consult-kernel-areaOfConcern" ng-click="vm.collapseNavbar()">
                    <span><i class="m-l-20 icon-areaofconcern text-blue"></i>Areas of Concern</span>
                </a>
        </li>
        <li menu-toggle id="admin-menu" name="Management Practices" icon="icon-practice" ng-class="{active: vm.$state.includes('admin')}" has-authority="ROLE_ADMIN" >
            <a menu-link href="#/practice-management-general" ui-sref="practice-management-general" ng-click="vm.collapseNavbar()">
                <span>New practice</span>
            </a>
            <a menu-link href="#/practice-management" ui-sref="practice-management" ng-click="vm.collapseNavbar()">
                <span>Find Practice</span>
            </a>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
        </li>
        <li menu-toggle id="admin-menu" name="Management Repositories" icon="icon-repo" ng-class="{active: vm.$state.includes('admin')}" ng-hide="false" has-authority="ROLE_ADMIN" >
            <a menu-link href="#/repository-repository" ui-sref="repository-repository" ng-click="vm.collapseNavbar()">
                <span data-translate="global.menu.entities.repositoryRepository">Repository</span>
            </a>
        </li>
        <li  menu-toggle id="admin-menu" name="Consult Practice" icon="icon-practice"  has-authority="ROLE_ADMIN" >
            <ol menu-toggle id="thingsToWork" class="m-l-10" name="Things to Work With" icon="icon-alpha text-blue">
                <a menu-link href="#/practice-consult-alpha" ui-sref="practice-consult-alpha" ng-click="vm.collapseNavbar()">
                    <span><i class="m-l-20 icon-alpha text-blue"></i>Alpha</span>
                </a>
                <a menu-link href="#/practice-consult-workproduct" ui-sref="practice-consult-workproduct" ng-click="vm.collapseNavbar()">
                    <span><i class="m-l-35 icon-workproduct text-blue"></i>Workproduct</span>
                </a>
            </ol>
            <ol menu-toggle id="thingsToDo" class="m-l-10" name="Things to Do" icon="icon-activity text-blue">
                <a menu-link href="#/practice-consult-ActivitySpace" ui-sref="practice-consult-ActivitySpace" ng-click="vm.collapseNavbar()">
                    <span><i class="m-l-20 icon-spaceactivity text-blue"></i>Activity Space</span>
                </a>
                <a menu-link href="#/practice-consult-activity" ui-sref="practice-consult-activity" ng-click="vm.collapseNavbar()">
                    <span><i class="m-l-20 icon-activity text-blue"></i>Activity</span>
                </a>
            </ol>
            <ol menu-toggle id="thingsToDo" class="m-l-10" name="Competencies" icon="icon-competency text-blue">
                <a menu-link href="#/practice-consult-competency" ui-sref="practice-consult-competency" ng-click="vm.collapseNavbar()">
                    <span><i class="m-l-20 icon-competency text-blue"></i>Competency</span>
                </a>
            </ol>
            <ol menu-toggle id="thingsToDo" class="m-l-10" name="Areas of Concern" icon="icon-areaofconcern text-blue">
                <a menu-link href="#/practice-consult-areaOfConcern" ui-sref="practice-consult-areaOfConcern" ng-click="vm.collapseNavbar()">
                    <span><i class="m-l-20 icon-areaofconcern text-blue"></i>Customer</span>
                </a>
                <a menu-link href="#/"  ng-click="vm.collapseNavbar()">
                    <span><i class="m-l-20 icon-areaofconcern text-blue"></i>Solution</span>
                </a>
                 <a menu-link href="#/" ng-click="vm.collapseNavbar()">
                    <span><i class="m-l-20 icon-areaofconcern text-blue"></i>Endeavor</span>
                </a>
            </ol>
        </li> 
    </ul>
</aside>

