<aside class="sidebar fixed" ng-cloak ng-switch="vm.isAuthenticated()">
  <div class="brand-logo">
    <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/>
    <span data-translate="global.title">Sdekc</span> <span class="navbar-version">v{{VERSION}}</span>
  </div>
  <div class="user-logged-in">
    <div class="content">
      <div class="user-name" translate-values="{username: '{{vm.account.login}}'}">{{vm.account.login}} <span class="text-muted f9"></span></div>
      <div class="user-email">last@samurai.jp</div>
      <div class="user-actions">
        <a class="m-r-5" href="">settings</a> <a href="">logout</a>
      </div>
    </div>
  </div>

  <ul class="menu-links" >

    <a ui-sref="home" ng-click="vm.collapseNavbar()">
        <span class="glyphicon glyphicon-home"></span>
        <span class="hidden-sm" data-translate="global.menu.home">Home</span>
    </a>

     <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
    <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
            <span>
                <span class="glyphicon glyphicon-th-list"></span>
                <span class="hidden-sm" data-translate="global.menu.entities.main">
                    Entities
                </span>
                <b class="caret"></b>
            </span>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
        </ul>
    </li>

    <li menu-toggle path="/apps" name="APPS" icon="md md-camera">
      <a menu-link href="#/apps/todo" name="Todo">
        <span id="todosCount" class="pull-right badge z-depth-0" ng-bind="todosCount"></span>
        Todo
      </a>
      <a menu-link href="#/apps/crud" name="Crud">
        <span class="pull-right badge theme-primary-bg z-depth-0">9</span>
        Crud
      </a>
    </li>

    <a href="" id="account-menu">
        <span class="hidden-sm" data-translate="global.menu.account.main">
            Account
        </span>
    </a>
    <li menu-toggle ui-sref-active="active" name="Account" icon="md md-camera">
        <a href="" ui-sref="settings"  name=Settings"">
            <span data-translate="global.menu.account.settings">Settings</span>
        </a>
        <a href="" ui-sref="password" ng-switch-when="true">
            <span data-translate="global.menu.account.password">Password</span>
        </a>
        <a href="" ng-click="vm.logout()" id="logout"  ng-switch-when="true">
            <span data-translate="global.menu.account.logout">Sign out</span>
        </a>
        <a href="" ng-click="vm.login()" id="login" ng-switch-when="false">
            <span data-translate="global.menu.account.login">Sign in</span>
        </a>
        <a href="" ui-sref="register"  ng-switch-when="false">
            <span data-translate="global.menu.account.register">Register</span>
        </a>
    </li>
    <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
            <span>
                <span class="glyphicon glyphicon-tower"></span>
                <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                <b class="caret"></b>
            </span>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li ui-sref-active="active">
                <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                    <span data-translate="global.menu.admin.userManagement">User management</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="practice-management" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-book"></span>&nbsp;
                    <span data-translate="global.menu.admin.practiceManagement">Practice management</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                    <span data-translate="global.menu.admin.metrics">Metrics</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-heart"></span>&nbsp;
                    <span data-translate="global.menu.admin.health">Health</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                    <span data-translate="global.menu.admin.configuration">Configuration</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-bell"></span>&nbsp;
                    <span data-translate="global.menu.admin.audits">Audits</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                    <span data-translate="global.menu.admin.logs">Logs</span>
                </a>
            </li>
            <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                    <span class="glyphicon glyphicon-book"></span>&nbsp;
                    <span data-translate="global.menu.admin.apidocs">API</span>
                </a>
            </li>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
        </ul>
    </li>
    
  </ul>
</aside>

