<section class="charts" ng-controller="ChartsController">
    <div class="row">
        <div class="col-md-8">
            <div class="p-10 clearfix">
                <h4 class="grey-text">
                  <i class="md md-dashboard"></i>
                  <span class="hidden-xs">Performance summary</span>
                </h4>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="card small load-chart">
                    <div class="card-header">
                        <div class="card-title">New Visits</div>
                    </div>
                    <div class="card-content">
                        <div id="load-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="card small cpu-chart">
                    <div class="card-header">
                        <div class="card-title">Active Users</div>
                    </div>
                    <div class="card-content">
                        <div id="cpu-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="card small pie-chart">
                    <div class="card-header">
                      <div class="card-title">Prácticas</div>
                    </div>
                    <div class="card-content">
                        <c3chart bindto-id="pie-chart">
                          <chart-column column-id="Prácticas en proceso"
                                        column-values="130"
                                        column-type="pie"/>
                          <chart-column column-id="Prácticas Modificadas"
                                        column-values="120"
                                        column-type="pie"/>
                          <chart-column column-id="Prácticas Terminadas"
                                        column-values="30"
                                        column-type="pie"/>
                          <chart-colors color-pattern="{{color_pattern}}"/>
                        </c3chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="grey-text p-10">Top prácticas</h4>
            <div class="card">
                <div class="p-10 p-l-20 p-r-20 clearfix">
                    <div class="badge pull-right">5</div>
                    <div class="w600 f11 grey-text">Total</div>
                </div>
                <div class="table-responsive">
                    <table class="table table-small grey-text">
                        <colgroup>
                          <col width="">
                          <col width=""/>
                        </colgroup>
                        <tbody>
                            <tr>
                              <td>Adaptive Funding Essentials</td>
                              <td class="pull-right">
                                  <i class="fa fa-star f3" aria-hidden="true"> 
                                      <i class="fa fa-star f3" aria-hidden="true"></i>
                                      <i class="fa fa-star f3" aria-hidden="true"></i>
                                      <i class="fa fa-star f3" aria-hidden="true"></i>
                                      <i class="fa fa-star f3" aria-hidden="true"></i>
                                  </i>
                              </td>
                            </tr>
                            <tr>
                                <td>Essential Unified Process</td>
                                <td class="pull-right">
                                    <i class="fa fa-star f3" aria-hidden="true"> 
                                        <i class="fa fa-star f3" aria-hidden="true"></i>
                                        <i class="fa fa-star f3" aria-hidden="true"></i>
                                        <i class="fa fa-star f3" aria-hidden="true"></i>
                                    </i>
                                </td>
                            </tr>
                            <tr>
                                <td>Unified Process Lifecycle Essentials</td>
                                <td class="pull-right">
                                    <i class="fa fa-star f3" aria-hidden="true"> 
                                        <i class="fa fa-star f3" aria-hidden="true"></i>
                                        <i class="fa fa-star f3" aria-hidden="true"></i>
                                    </i>
                                </td>
                            </tr>
                            <tr>
                                <td>Periodic Alignment Essentials</td>
                                <td class="pull-right">
                                    <i class="fa fa-star f3" aria-hidden="true"> 
                                        <i class="fa fa-star f3" aria-hidden="true"></i>
                                    </i>
                                </td>
                            </tr>
                             <tr>
                                <td>Iterative Essentials</td>
                                <td class="pull-right">
                                    <i class="fa fa-star f3" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
            <div class="p-h-40">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" ng-init="actionTab=1">
                      <li role="presentation" class="active"><a ng-click="actionTab=1" aria-controls="home" role="tab" data-toggle="tab">Log</a></li>
                      <li role="presentation" class=""><a ng-click="actionTab=2" aria-controls="home" role="tab" data-toggle="tab">Timeline</a></li>
                      <li role="presentation"><a ng-click="actionTab=3" aria-controls="home" role="tab" data-toggle="tab">Messages</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content m-t-10">
                        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==1}">
                            <ul class="timeline">
                                <li>
                                  <div class="timeline-badge">
                                    <i class="icon-circle theme-border"></i>
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title">E-mail confirmation</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <p>A new user has registered and confirmed his account</p>
                                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                    </div>
                                  </div>
                                </li>
                                <li class="timeline-inverted">
                                  <div class="timeline-badge">
                                    <i class="icon-circle theme-secondary-border"></i>
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title">User payment</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <p>A new user has payed a premium package</p>
                                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                    </div>
                                  </div>
                                </li>
                                <li>
                                  <div class="timeline-badge">
                                    <i class="icon-circle green-border"></i>
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title">E-mail confirmation</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <p>A new user has registered and confirmed his account</p>
                                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                    </div>
                                  </div>
                                </li>
                                <li class="timeline-inverted">
                                  <div class="timeline-badge">
                                    <i class="icon-circle red-border accent-1"></i>
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title">User payment</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <p>A new user has payed a premium package</p>
                                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                    </div>
                                  </div>
                                </li>
                                <li>
                                  <div class="timeline-badge">
                                    <i class="icon-circle theme-border"></i>
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title">E-mail confirmation</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <p>A new user has registered and confirmed his account</p>
                                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                    </div>
                                  </div>
                                </li>
                                <li class="timeline-inverted">
                                  <div class="timeline-badge">
                                    <i class="icon-circle brown-border"></i>
                                  </div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title">User payment</h4>
                                    </div>
                                    <div class="timeline-body">
                                      <p>A new user has payed a premium package</p>
                                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                    </div>
                                  </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==2}">
                            <ul class="timeline" ng-init="(rows=[]).length=5;">
                                <li ng-repeat="i in rows track by $index">
                                    <div class="timeline-badge"><img placeholder-img class="img-responsive" /></div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                          <h4 class="timeline-title" placeholder-name></h4>
                                        </div>
                                        <div class="timeline-body">
                                          <span placeholder-p></span>
                                          <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" ng-class="{active: actionTab==3}">
                            <ul class="timeline" ng-init="(rows=[]).length=5;">
                                <li ng-repeat="i in rows track by $index">
                                  <div class="timeline-badge" placeholder-icon></div>
                                  <div class="timeline-panel">
                                    <div class="timeline-heading">
                                      <h4 class="timeline-title" placeholder-name></h4>
                                    </div>
                                    <div class="timeline-body">
                                      <span spanlaceholder-p></span>
                                      <small class="text-muted"><i class="md md-timer"></i> 11 hours ago</small>
                                    </div>
                                  </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>