/*Clases-Clara*/
.alineaVertical {
  display: block;
  margin-top: 10px;
  width: 60px;
}
.m-l-button{
    margin-left:30px;
}
.m-t-button{
    margin-top: 25px;
}
select[multiple] {
    width: 250px;
    height:100px!important;
    border: solid 0.5px #2196F3;
}
.marginTop30{
	margin-top: 30px;
}
/*Login y Register*/
.text-blue {
    color:#2196F3!important;
}
.text-white{
    color:white!important;
}
.m-t-135{
    margin-top: 135px;
}
.text-green{
    color:#31B404;
}
.text-yellow{
    color: #FFBF00;
}
.m-t-18 a{
    margin-top:180%!important;
}
.m-ln-7{
    margin-left:-7%;
}
/*General*/
.c-white a {
    
  color:white;  
}
.div-border-2{
    border-right: 2px solid #26a69a;
    border-left: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    margin-left: 1%;
    margin-right: 1%;
}
.div-border{
    border: 2px solid #26a69a;
    margin-left: 1%;
    margin-right: 1%;
}
.m-l-especial{
    margin-left: 103%;
    position: absolute; 
    margin-top: 15%; 
}
.m-l-especial-2{
    margin-left: 30%;
    position: absolute; 
    margin-top: 7%;
}
.m-tn-8{
   margin-top:-8%; 
}
#vertical-bar {
        border-left: 2px solid #26a69a;
        width:1px;
        height:230px;
        position: inherit;
        margin-left: 5%;
}
#vertical-bar-2 {
        border-left: 2px solid white;
        width:200px;
        position: inherit;
        height:30px;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
}
#vertical-bar-3 {
        border-left: 1px solid #ccc;
        width:1px;
        height:400px;
        position: inherit;
        margin-left: 5%;
}
#horizontal-bar {
        border-bottom: 1px solid #ccc;
        width:80%;
        
        position: inherit;
        margin-left:10%;
}
.modal-body{
    background-color: white;   
}

.btn-facebook{
    background-color:#3b5998;
    color:white;
}
.btn-twitter{
    background-color:#00aced;
    color:white;
}
.btn-google{
    background-color:#d62d20;
    color:white;
}
/*Menu Consultar Practica*/
.menu {
  width: 100%;
  overflow: hidden;
}
.menu a {
  text-decoration: none;
  color: #333;
}
.menu a:hover {
  color: #f20256;
}

.open-hide {
  width: 35px;
  height: 35px;
  display: block;
  background-image: url(/content/images/menu.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px;
  text-indent: -9999em;
}
.open-hide:hover {
  cursor: pointer;
}

.menu {
  height: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.menu:hover {
  height: 100%;
  padding-top: 3em;
}

.open-hide:hover + .menu {
  height: 100%;
  padding-top: 1em;
}
/*Consultas kernel*/
.alpha-border{
    border: solid 1px;
    height:50%;
    padding:10px;
}
.workproduct-border {
  background-image: url(/content/images/workproduct.png);
  background-repeat: no-repeat;
  margin-left:2%;
  width: 330px;
  height: 100px;  
  display: block; 
}
.workproduct-2-border {
  background-image: url(/content/images/workproduct-2.png);
  background-repeat: no-repeat;
  margin-left:2%;
  width: 280px;
  height: 100px;  
  display: block; 
}
.ActivitySpace-border {
  background-image: url(/content/images/ActivitySpace.png);
  background-repeat: no-repeat;
  margin-left:2%;
  width: 350px;
  height: 250px;  
  display: block;
  position:relative;
}
.ActivitySpace-2-border {
  background-image: url(/content/images/ActivitySpace-2.png);
  background-repeat: no-repeat;
  margin-left:2%;
  width: 350px;
  height: 220px;  
  display: block;
  position:relative;
}
.activity-border {
  background-image: url(/content/images/activity.png);
  background-repeat: no-repeat;
  margin-left:15%;
  width: 350px;
  height: 100px;  
  
  position:absolute;
}

.competency1-border{
    border: solid 1px;
    height:50%;
    width:100%;
    padding:15px;
}
.competency2-border{
    border: solid 1px;
    height:50%;
    width:95%;
    padding:15px;
}
.competency3-border{
    border: solid 1px;
    height:50%;
    width:90%;
    padding:15px;
}
.competency4-border{
    border: solid 1px;
    height:50%;
    width:85%;
    padding:15px;
}
.competency5-border{
    border: solid 1px;
    height:50%;
    width:80%;
    padding:15px;
}

/*Arbol things to work with */
.modal-header, .modal-footer{
    background-color: white;
}

ul.ivh-treeview .ivh-treeview-toggle {
    cursor: pointer;
    margin-right: 5%;
}
ul.ivh-treeview {
    list-style-type: none;
    margin-top: 2%;
    margin-bottom: 2%;
}
ul.ivh-treeview li{
    list-style-type: none;
    margin-top: 2%;
   
}

/*Colores Area of concern*/
.colorArea0{
	background-color: #C9FFC9 !important;
        color: black!important;
        font-weight: bold!important;
}
.colorArea1{
	background-color: #FFFF99 !important;
        color: black!important;
        font-weight: bold!important;
}
.colorArea2{
	background-color: #C6D9F1 !important;
        color: black!important;
        font-weight: bold!important;
        
}

/*Colores keywords find practice*/
.color0{
    background-color: #00bcd4;
    color: #ffffff;
    margin-right: 3px;
}
.color1{
    background-color: #ff9800;
    color: #ffffff;
    margin-right: 3px;
}
.color2{
    background-color: #009688;
    color: #ffffff;    
    margin-right: 3px;
}

/*Colores keywords general*/
.keyWord0{
    background-color: #e91e63;
    color: #ffffff;    
    margin-right: 3px;
}
.keyWord1{
    background-color: #9c27b0;
    color: #ffffff;
    margin-right: 3px;
}
.keyWord2{
    background-color: #ff9800;
    color: #ffffff;
    margin-right: 3px;
}
.keyWord3{
    background-color: #4CAF50;
    color: #ffffff;
    margin-right: 3px;  
}
.keyWord4{
    background-color: #3f51b5;
    color: #ffffff;    
    margin-right: 3px; 
}
.keyWord5{
	background-color: #00bcd4;
    color: #ffffff;    
    margin-right: 3px; 
}
