/*Clases-Clara*/
.alineaVertical {
  display: block;
  margin-top: 10px;
  width: 60px;
}
.m-l-button{
    margin-left:30px;
}
.m-t-button{
    margin-top: 25px;
}
select[multiple] {
    width: 250px;
    height:100px!important;
    border: solid 0.5px #2196F3;
}
.marginTop30{
	margin-top: 30px;
}
/*Login y Register*/
.text-blue {
    color:#2196F3!important;
}
.text-white{
    color:white!important;
}
.m-t-135{
    margin-top: 135px;
}
/*General*/
.c-white a {
    
  color:white;  
}
.div-border-2{
    border-right: 2px solid #26a69a;
    border-left: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    margin-left: 1%;
    margin-right: 1%;
}
.div-border{
    border: 2px solid #26a69a;
    margin-left: 1%;
    margin-right: 1%;
}
.m-l-especial{
    margin-left: 103%;
    position: absolute; 
    margin-top: 15%; 
}
.m-l-especial-2{
    margin-left: 30%;
    position: absolute; 
    margin-top: 7%;
}
#vertical-bar {
        border-left: 2px solid #26a69a;
        width:1px;
        height:230px;
        position: inherit;
        margin-left: 5%;
}
#vertical-bar-2 {
        border-left: 2px solid white;
        width:200px;
        position: inherit;
        height:30px;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 5%;
}
#vertical-bar-3 {
        border-left: 1px solid #ccc;
        width:1px;
        height:400px;
        position: inherit;
        margin-left: 5%;
}
#horizontal-bar {
        border-bottom: 1px solid #ccc;
        width:80%;
        
        position: inherit;
        margin-left:10%;
}
.modal-body{
    background-color: white;   
}

.btn-facebook{
    background-color:#3b5998;
    color:white;
}
.btn-twitter{
    background-color:#00aced;
    color:white;
}
.btn-google{
    background-color:#d62d20;
    color:white;
}
/*Menu Consultar Practica*/
.menu {
  width: 100%;
  overflow: hidden;
}
.menu a {
  text-decoration: none;
  color: #333;
}
.menu a:hover {
  color: #f20256;
}

.open-hide {
  width: 35px;
  height: 35px;
  display: block;
  background-image: url(/content/images/menu.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px;
  text-indent: -9999em;
}
.open-hide:hover {
  cursor: pointer;
}

.menu {
  height: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.menu:hover {
  height: 100%;
  padding-top: 3em;
}

.open-hide:hover + .menu {
  height: 100%;
  padding-top: 1em;
}
/*Consultas kernel*/
.alpha-border{
    border: solid 1px;
    height:50%;
    padding:15px;
}
