<section class="p-b-20">
    <div class="row">
        <div class="col-md-3">
			<div class="well white">
				<div class="m-b-20">
					<div ng-repeat="areaOfConcern in vm.areasOfConcern track by areaOfConcern.id">
						<p />
						<button class="btn btn-primary btn-block" 
							data-target="#detalle" ng-click="vm.fillAreaOfConcern(areaOfConcern)">{{areaOfConcern.name}}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9" ng-show="vm.areaOfConcernActual">
            <div class="well white">
                <div id="demo">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-floating placeholder-form">
                                <fieldset>
                                    <h3><i class="icon-areaofconcern text-blue"></i> {{vm.areaOfConcernActual.name}}</h3>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-floating placeholder-form">
                                <fieldset>
                                <h5>Introduction</h5>
                                    <p>{{vm.areaOfConcernActual.briefDescription}}</p>
                                <h5>Contents</h5>
                                    <p>In each area of concern there are:</p>
                                    <li>Essential things to work with - descriptions of the kind of things that the team will produce, and use in the process of developing good software</li>
                                    <li>Essential things to do - descriptions of the challenges the team faces and the activities that the team will perform to meet them</li>
                                    <li>Essential competencies - descriptions of the skills that the team require to be able to carry out the activities.</li>
								<h5>Resources</h5>
                                    <li>Essence Standard (OMG), refer to <a> http://www.omg.org/spec/Essence/1.1/</a></li>
                                    <li>The Essence of Software Engineering: Applying the SEMAT Kernel, by Ivar Jacobson, Pan-Wei Ng, Paul E. McMahon, Ian Spence and Svante Lidman, Addison-Wesley 2013.</li>
                                    <li><a>Card Resources</a></li>
                                </fieldset>
                            </form>  
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <form class="form-floating placeholder-form">
                                <fieldset>
                                 <h5>Things to Work With</h5>
                                    <div ng-repeat="alpha in vm.areaOfConcernActual.alphas track by alpha.id">
                                    	<li>"{{alpha.name}}": {{alpha.description}}</li>
                                    </div>
                               </fieldset>
                            </form> 
                        </div>
                        <div class="col-md-4">
                            <form class="form-floating placeholder-form">
                                <fieldset>
                                  <h5>Things to Do</h5>
                                  	<div ng-repeat="activitySpace in vm.areaOfConcernActual.activitySpaces track by activitySpace.id">
                                    	<li>"{{activitySpace.name}}": {{activitySpace.description}}</li>
                                    </div>
                               	</fieldset>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <form class="form-floating placeholder-form">
                                <fieldset>
                                 <h5>Competencies</h5>
                                 	<div ng-repeat="competency in vm.areaOfConcernActual.competencies track by competency.id">
                                    	<li>"{{competency.name}}": {{competency.description}}</li>
                                    </div>
                              	</fieldset>
                            </form>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>